@import url("https://fonts.cdnfonts.com/css/general-sans");

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "Josefin Sans", sans-serif;
}

/*main*/
.custom-main {
  max-width: 100rem; /* max-w-7xl */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  display: flex;
  flex-direction: column;
}

/*App.JSX*/

.home-link {
  color: #d1d5db;
  font-weight: bold;
  font-size: 1.25rem;
  transition: color 0.2s;
}

.home-link:hover {
  color: blue;
}

/*Hero*/
.hero-section {
  margin-top: 60px;
  min-height: 100vh;
  border: 2px solid #3b82f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.greeting-text {
  font-size: l;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.25;
  font-family: "Josefin Sans", sans-serif;
}

.threejs-container {
  min-height: 70vh;
  width: 100%;
  display: flex;
  height: 60vh;
  align-self: center;
}

.canvas {
  display: block;
  width: 100%;
  height: 25%;
}

.menu-icon {
  background-color: transparent;
  padding: 0;
  color: #d1d5db;
}

.menu-icon:hover {
  color: white;
}

//next section in hero
.next-section {
  position: absolute;
  bottom: 1.75rem; /* 7 * 0.25rem */
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding-left: 1.25rem; /* Assuming c-space means px-5 */
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .custom-class {
    padding-left: 2.5rem; /* sm:px-10 */
    padding-right: 2.5rem;
  }
}

/* Space */
.c-space {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .c-space {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Head Text */
.head-text {
  font-size: 1.875rem;
  font-weight: 600;
  background: linear-gradient(to right, #bec1cf 60%, #d5d8ea 60%, #d5d8ea 100%);
  background-clip: text;
  color: transparent;
}

@media (min-width: 640px) {
  .head-text {
    font-size: 2.25rem;
  }
}

/* Navigation */
.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 20;
}

.nav-li {
  color: #d1d5db;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.nav-li:hover {
  background-color: #1f2937;
  color: white;
}

.nav-li_a {
  color: #6b7280;
  font-size: 1.125rem;
  transition: color 0.3s;
}

.nav-li_a:hover {
  background-color: #1f2937;
}

@media (min-width: 768px) {
  .nav-li_a {
    font-size: 1rem;
  }
}

.nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  display: block;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .nav-sidebar {
    display: none;
  }
}

/* Button */
.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #1f2937;
  transition: all 0.3s;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: "Josefin Sans";
  font-size: 20px;
  margin-bottom: 20px;
  width: 30rem;
}

@keyframes ping {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(2.5);
  }
}
.btn-ping {
  animation: ping 1s infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(34, 197, 94, 0.75);
}

.btn-ping_dot {
  position: relative;
  max-width: 20px;
  width: 8px;
  height: 8px;
  background-color: #34d399;
  border-radius: 9999px;
}

/* Hero Section */
.hero_tag {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.25;
  background: linear-gradient(to right, #bec1cf 60%, #d5d8ea 60%, #d5d8ea 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .hero_tag {
    font-size: 3.75rem;
  }
}

/* About Section */
.grid-container {
  width: 100%;
  height: 100%;
  border: 1px solid #d1d5db;
  background-color: #2f333b;
  border-radius: 0.375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.grid-headtext {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.grid-subtext {
  color: #afb0b6;
  font-size: 1rem;
}

.copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Projects Section */
.arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.tech-logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(243, 244, 246, 0.1);
  border-radius: 0.375rem;
  padding: 0.5rem;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clients Section */
.client-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .client-container {
    grid-template-columns: 1fr 1fr;
  }
}

.client-review {
  border-radius: 0.375rem;
  padding: 1.25rem;
  background-color: rgba(31, 41, 55, 0.5);
}

.client-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.75rem;
}

@media (min-width: 1024px) {
  .client-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Work Experience Section */
.work-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .work-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.work-canvas,
.work-content {
  border-radius: 0.375rem;
  background-color: #2f333b;
  border: 1px solid #d1d5db;
}

.work-content_container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding: 0.625rem;
}

.work-content_container:hover {
  background-color: #1f2937;
}

.work-content_logo {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  background-color: #374151;
  padding: 0.5rem;
}

.work-content_bar {
  width: 0.125rem;
  height: 100%;
  background-color: #d1d5db;
  margin-top: 1rem;
}

.work-content_container:hover .work-content_bar {
  background-color: #1f2937;
}

.work-content_bar:last-child {
  display: none;
}

/* Contact Section */
.contact-container {
  max-width: 36rem;
  margin-top: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.field-label {
  font-size: 1.125rem;
  color: #d1d5db;
}

.field-input {
  width: 100%;
  background-color: #1f2937;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3.5rem;
  border-radius: 0.375rem;
  color: #f3f4f6;
  font-size: 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.field-btn {
  background-color: #4b5563;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3rem;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  color: white;
}

.field-btn_arrow {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  filter: invert(100%) brightness(0);
}

/* Footer */
.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b5563;
  border: 1px solid #d1d5db;
}

/* Animation */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.waving-hand {
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
